* text=auto eol=crlf
# Files with Windows line endings
*.c     text    eol=crlf
*.cpp   text    eol=crlf
*.h     text    eol=crlf
*.hpp   text    eol=crlf
*.bat   text    eol=crlf
*.sh    text    eol=crlf
*.cmake text    eol=crlf
*.py    text    eol=crlf

# Binary files
*.bin   binary
*.png   binary
